@using WebNet23Online.Models.User
@model UserProfileViewModel

<div>
    @Model.UserName (@Model.UserId)
</div>
<div>
    <form action="/User/ChangeLanguage" method="post">
        @Html.HiddenFor(x => x.UserId)
        <div>
            <p>Имя:</p>
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-input", type = "text" })
        </div>

        <div>
            <p>Фамилия:</p>
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-input", type = "text" })
        </div>

        <div>
            <p>Телефон:</p>
            @Html.TextBoxFor(m => m.Mobilephone, new { @class = "form-input", type = "text" })
        </div>
        @Model.Language.ToString()
        @Html.DropDownList("language", Model.Languages)
        <button>Update language</button>
    </form>
</div>
