@using WebNet23Online.Models.User
@model UserProfileViewModel

<div>
    @Model.UserName (@Model.UserId)
</div>
<div>
    <form action="/User/ChangeLanguage" method="post">
        @Html.HiddenFor(x => x.UserId)
        <p>
            First name:<br />
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-input", type = "text" })
        </p>
        <p>
            Last name:<br />
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-input", type = "text" })
        </p>
        <p>
            Phone number:<br />
            @Html.TextBoxFor(m => m.Mobilephone, new { @class = "form-input", type = "text" })
        </p>
        <p>
            @Model.Language.ToString()
            @Html.DropDownListFor(m => m.Language, Model.Languages)
        </p>
        <button>Update language</button>
        <button type="submit" formaction="@Url.Action("UpdateProfile", "User")">Save changes</button>
    </form>
</div>
