@using WebNet23Online.Models.LittleLemon
@model LittleLemonConfirmationViewModel
@{
	Layout = "_LayoutLittleLemon";
}
<title>Confirmation</title>
@Html.Partial("_LittleLemonHeroSection", Model.Hero)
<section class="booking-form confirmation-list">
	<h2>Reservations from our guest:@Model.Reservation.UserName</h2>
	<ul>
		<li>Name: @Model.Reservation.UserName</li>
		<li>Date: @Model.Reservation.ReservationDateOnly</li>
		<li>Time: @Model.Reservation.AvailableTimesOnly</li>
		<li>Guests: @Model.Reservation.NumberOfGuests</li>
		<li>Seating: @Model.Reservation.SeatingPreference</li>
		<li>Occasion: @Model.Reservation.Occasion</li>
		<li>Notes: @Model.Reservation.UserComments</li>
	</ul>
</section>