@using WebNet23Online.Models.EventWorkshop;
@{
    Layout = "_LayoutEventWorkshop";
}
@model EventInfoViewModel
    <div class="activity-submit">
    <form method="post" class="activity-submit-form">
            <h2>Отправь запрос на создание досуга!</h2>
            <div class="activity-submit-datetime">
                <p>Дата и время мероприятия</p>
                @Html.TextBoxFor(x => x.Date, new{type = "date", @class = "activity-submit-date"})
                @Html.TextBoxFor(x => x.Time, new{Type = "time", @class = "activity-submit-time"})
            </div>
            <div>
                <div>
                    Выберите категорию
                </div>
                <label>
                    Творчество
                    @Html.RadioButtonFor(x => x.Category, new{type = "radio", name = "category", value = "creation"})
                </label>
                <label>
                    Спорт
                    @Html.RadioButtonFor(x => x.Category, new{type = "radio", name = "category", value = "sport"})
                </label>
                <label>
                    Игры
                    @Html.RadioButtonFor(x => x.Category, new{type = "radio", name = "category", value = "games"})
                </label>
            </div>
            <div>
                <div>
                    Укажите плюшки
                </div>
                <label>
                    Еда
                    @Html.CheckBoxFor(x => x.HasFood, new{type = "radio", name = "perks", value = "food"})
                </label>
                <label>
                    Инвентарь
                    @Html.CheckBoxFor(x => x.HasGear, new{type = "radio", name = "perks", value = "gear"})
                </label>
                <label>
                    Спальное место
                    @Html.CheckBoxFor(x => x.HasBed, new{type = "radio", name = "perks", value = "bed"})
                </label>
            </div>
            <div>
                <div>
                    @Html.TextBoxFor(x => x.Title, new{type = "text", placeholder = "Наименование", maxlength = "30"})
                </div>
                <div>
                    @Html.TextBoxFor(x => x.Url, new { type = "text", placeholder = "Прямая ссылка на изображение", })
                </div>
                <div>
                    @Html.TextAreaFor(x => x.Description, new{ @class="activity-submit-description",  rows="10", cols="50", placeholder="Опишите событие"})
                </div>
            </div>
            <button type="submit">Add Event</button>
        </form>
    </div>