@using WebNet23Online.Models.EventWorkshop
@model List<EventInfoViewModel>
@{
    Layout = "_LayoutEventWorkshop";
}
<div class="header">
    <div class="page-title">
        <h1>Любительский досуг!</h1>
    </div>
    <div class="page-description">
        <p>Здесь размещаются любительские события в которых каждый может принять участие.</p>
    </div>
</div>
<div class="events">
    <div class="events-filter">
        <a href="/EventWorkshop/Index?typeEvent=All">
            <div>
                Все события
            </div>
        </a>
        <a href="/EventWorkshop/Index?typeEvent=Creation">
            <div>
                Творчество
            </div>
        </a>
        <a href="/EventWorkshop/Index?typeEvent=Sport">
            <div>
                Спорт
            </div>
        </a>
        <a href="/EventWorkshop/Index?typeEvent=Games">
            <div>
                Игры
            </div>
        </a>
    </div>
    @foreach (var workshopEvent in Model)
    {
        <div class="creation">
            <div class="event-info-container">
                <div class="image-container">
                    <img src="@workshopEvent.Url"/>
                    <h3>@workshopEvent.Title</h3>
                </div>
                <div class="description-container">
                    <p>@workshopEvent.Description</p>
                </div>
            </div>
            <div class="datetime-container">
                <div class="date-container">
                    @workshopEvent.DateDay
                </div>
                <div class="year-container">
                    @workshopEvent.DateYear
                </div>
                <div class="time-container">
                    @workshopEvent.Time
                </div>
            </div>
        </div>
    }
</div>  