@using WebNet23Online.Models.EventWorkshop
@model List<EventWorkshopEventInfoViewModel>
@{
    Layout = "_LayoutEventWorkshop";
}
<div class="header">
    <div class="page-title">
        <h1>Любительский досуг!</h1>
    </div>
    <div class="page-description">
        <p>Здесь размещаются любительские события в которых каждый может принять участие.</p>
    </div>
</div>
<div class="events">
    <div class="events-filter">
        <a href="/EventWorkshop/Index?typeEvent=All">
            <div>
                Все события
            </div>
        </a>
        <a href="/EventWorkshop/Index?typeEvent=Creation">
            <div>
                Творчество
            </div>
        </a>
        <a href="/EventWorkshop/Index?typeEvent=Sport">
            <div>
                Спорт
            </div>
        </a>
        <a href="/EventWorkshop/Index?typeEvent=Games">
            <div>
                Игры
            </div>
        </a>
    </div>
    @foreach (var workshopEvent in Model)
    {
        <div class="creation">
            <div class="event-info-container">
                <div class="image-container">
                    <img src="@workshopEvent.Url"/>
                    <h3>@workshopEvent.Title</h3>
                </div>
                <div class="description-container">
                    <p>@workshopEvent.Description</p>
                </div>
            </div>
            <div class="datetime-container">
                <div class="date-container">
                    @workshopEvent.Date.Substring(0, 6)
                </div>
                <div class="year-container">
                    @workshopEvent.Date.Substring(6)
                </div>
                <div class="time-container">
                    @workshopEvent.Time
                </div>
            </div>
        </div>
    }
</div>  
<div class="activity-submit">
<form class="activity-submit-form">
    <h2>Отправь запрос на создание досуга!</h2>
    <div class="activity-submit-datetime">
        <p>Дата и время мероприятия<p>
            <input class="activity-submit-date" type="date">
            <input class="activity-submit-time" type="time">
        </div>
        <div>
            <div>
                Выберите категорию
            </div>
            <label>
                creation
                <input type="radio" name="category" value="creation">
            </label>
            <label>
                sport
                <input type="radio" name="category" value="sport">
            </label>
            <label>
                games
                <input type="radio" name="category" value="games">
            </label>
        </div>
        <div>
            <div>
                Укажите плюшки!
            </div>
            <label>
                Еда
                <input type="checkbox" name="features" value="hobbys">
            </label>
            <label>
                Инвентарь
                <input type="checkbox" name="features" value="sports">
            </label>
            <label>
                Новчикам рады!
                <input type="checkbox" name="features" value="games">
            </label>
        </div>
        <div>
            <div>
                <input class="activity-submit-name" type="text" placeholder="Наименование" maxlength="30">
            </div>
            <div>
                <textarea class="activity-submit-description" name="activity-submit-description" rows="10" cols="50" placeholder="Опишите событие"></textarea>
            </div>
        </div>
        <button type="submit">Add Event</button>
    </form>
</div>