@using WebNet23Online.Localizations
@{
    Layout = "_LayoutAnimalWorld";
}

<title>@AnimalWorld.AddingData</title>

<div class="main-place">
    <div class="green-title">
        <h2>@AnimalWorld.AddingAnimalData</h2>
    </div>
    <hr class="green-line">
    <p>@AnimalWorld.SelectInformationType:</p>
    <div class="add-links-grid">
        <div>
            <a class="find-animal-button add-link-button" href="/AnimalWorld/AddZoo">@AnimalWorld.AddZoo</a>
        </div>
        <div>
            <a class="find-animal-button add-link-button" href="/AnimalWorld/AddFamily">@AnimalWorld.AddAnimalFamily</a>
        </div>
        <div>
            <a class="find-animal-button add-link-button" href="/AnimalWorld/AddSpecies">@AnimalWorld.AddAnimalSpecies</a>
        </div>
        <div>
            <a class="find-animal-button add-link-button" href="/AnimalWorld/BindZooAndAnimalSpecies">@AnimalWorld.AnimalSpeciesZoosLinksSetup</a>
        </div>
    </div>
</div>
