@using WebNet23Online.Localizations
@model WebNet23Online.Models.AnimalWorld.BindZooWithAnimalSpeciesViewModel
@{
    Layout = "_LayoutAnimalWorld";
}

<title>@AnimalWorld.AnimalSpeciesZoosLinks</title>

<div class="main-place">
    <div class="green-title">
        <h2>@AnimalWorld.AnimalSpeciesZoosLinksSetup</h2>
    </div>
    <hr class="green-line">
    <p>@AnimalWorld.SelectZooThenAnimalSpecies</p>
    <form method="post">
        <div class="form-group">
            <div class="green-title">
                <h6>@AnimalWorld.Zoo</h6>
            </div>
            @Html.DropDownListFor(zoo => zoo.ZooId, Model.Zoos, AnimalWorld.ChooseZoo, new { @class = "form-input" })
            @Html.ValidationMessageFor(zoo => zoo.ZooId)
        </div>
        <div class="form-group">
            <div class="green-title">
                <h6>@AnimalWorld.AnimalSpecies</h6>
            </div>
            @Html.DropDownListFor(animalSpecies => animalSpecies.AnimalSpeciesId, Model.AnimalSpecies, AnimalWorld.ChooseAnimalSpecies, new { @class = "form-input" })
            @Html.ValidationMessageFor(animalSpecies => animalSpecies.AnimalSpeciesId)
        </div>
        <br />
        <div class="button-group">
            <button class="find-animal-button" type="submit">@AnimalWorld.SaveLink</button>
        </div>
    </form>
</div>
