@using WebNet23Online.Localizations
@model WebNet23Online.Models.AnimalWorld.StartPageAnimalWorldInfoViewModel
@{
    Layout = "_LayoutAnimalWorld";
}

<title>@AnimalWorld.AnimalWorldTitle</title>

<div class="main-place">
    <div class="green-title">
        <h2>@AnimalWorld.AboutPlanet</h2>
    </div>
    <hr class="green-line">
    <p>@AnimalWorld.IndexDescription</p>
    <div class="image-container">
        <img src="~/images/animal-world/animals.jpg" />
    </div>
    <div class="green-title">
        <h2>@AnimalWorld.Zoos</h2>
    </div>
    <hr class="green-line">
    @if (Model.Zoos.Any())
    {
        @foreach (var zoo in Model.Zoos)
        {
            <div class="animal entity-card">
                <h3>@zoo.ZooName</h3>
                <p><strong>@AnimalWorld.Address:</strong> @zoo.Address</p>
                <p>@zoo.Description</p>
                @if (zoo.AnimalSpecies.Any())
                {
                    <p><strong>@AnimalWorld.AnimalFamilies:</strong></p>
                    @string.Join(", ", zoo.AnimalFamilies.Select(a => a.AnimalFamilyName))
                }
            </div>
        }
    }
    else
    {
        <p class="empty-list-note">@AnimalWorld.NoZoos.</p>
    }
    <div class="green-title">
        <h2>@AnimalWorld.AnimalFamilies</h2>
    </div>
    <hr class="green-line">
    @if (Model.AnimalFamilies.Any())
    {
        @foreach (var family in Model.AnimalFamilies)
        {
            <div class="animal entity-card">
                <h3>@family.AnimalFamilyName</h3>
                <p>@family.Description</p>
            </div>
        }
    }
    else
    {
        <p class="empty-list-note">@AnimalWorld.NoAnimalFamilies</p>
    }

    <div class="green-title">
        <h2>@AnimalWorld.AnimalSpecies</h2>
    </div>
    <hr class="green-line">
    @if (Model.AnimalSpecies.Any())
    {
        @foreach (var species in Model.AnimalSpecies)
        {
            <div class="animal entity-card">
                <div class="animal entity-image">
                    <img src="@species.Url" />
                </div>
                <div>
                    <h3>@species.AnimalSpeciesName</h3>
                    <p><strong>@AnimalWorld.Habitat:</strong> @species.NativeRange</p>
                    <p>@species.Description</p>
                </div>
            </div>
        }
    }
    else
    {
        <p class="empty-list-note">@AnimalWorld.NoAnimalSpecies</p>
    }
</div>