@model WebNet23Online.Models.AnimalWorld.StartPageAnimalWorldInfoViewModel
@{
    Layout = "_LayoutAnimalWorld";
}

<title>Мир животных</title>

<div class="main-place">
    <div class="green-title">
        <h2>О нашей планете</h2>
    </div>
    <hr class="green-line">
    <p>Земля населена миллионами удивительных существ. От крошечных насекомых до гигантских синих китов.</p>
    <div class="image-container">
        <img src="~/images/animal-world/animals.jpg" />
    </div>
    <div class="green-title">
        <h2>Зоопарки</h2>
    </div>
    <hr class="green-line">
    @if (Model.Zoos.Any())
    {
        @foreach (var zoo in Model.Zoos)
        {
            <div class="animal entity-card">
                <h3>@zoo.ZooName</h3>
                <p><strong>Адрес:</strong> @zoo.Address</p>
                <p>@zoo.Description</p>
                @if (zoo.AnimalSpecies.Any())
                {
                    <p><strong>Виды животных:</strong></p>
                    @foreach (var animalSpecies in zoo.AnimalSpecies)
                    {
                        <p>@animalSpecies.AnimalSpeciesName</p>
                    }
                }
            </div>
        }
    }
    else
    {
        <p class="empty-list-note">Пока нет данных о зоопарках.</p>
    }
    <div class="green-title">
        <h2>Животные</h2>
    </div>
    <hr class="green-line">
    @if (Model.AnimalFamilies.Any())
    {
        @foreach (var family in Model.AnimalFamilies)
        {
            <div class="animal entity-card">
                <h3>@family.AnimalFamilyName</h3>
                <p>@family.Description</p>
            </div>
        }
    }
    else
    {
        <p class="empty-list-note">Пока нет данных о животных.</p>
    }

    <div class="green-title">
        <h2>Виды животных</h2>
    </div>
    <hr class="green-line">
    @if (Model.AnimalSpecies.Any())
    {
        @foreach (var species in Model.AnimalSpecies)
        {
            <div class="animal entity-card">
                <h3>@species.AnimalSpeciesName</h3>
                <p><strong>Ареал:</strong> @species.NativeRange</p>
                <p>@species.Description</p>
            </div>
        }
    }
    else
    {
        <p class="empty-list-note">Пока нет данных о видах животных.</p>
    }
</div>