@using WebNet23Online.Models.AnimalWorld
@model List<ZooViewModel>
@{
    Layout = "_LayoutAnimalWorld";
}

<title>Зоопарки</title>

<div class="main-place">
    <div class="green-title">
        <h2>Список зоопарков</h2>
    </div>
    <hr class="green-line">

    @if (Model.Any())
    {
        @foreach (var zoo in Model)
        {
            <div class="animal entity-card">
                <h3>@zoo.ZooName</h3>
                <p><strong>Адрес:</strong> @zoo.Address</p>
                <p>@zoo.Description</p>

                @if (zoo.AnimalSpecies.Any())
                {
                    <p><strong>Виды животных:</strong></p>
                    @foreach (var animalSpecies in zoo.AnimalSpecies)
                    {
                        <p>@animalSpecies.AnimalSpeciesName</p>
                    }
                }

                <div class="button-group">
                    <form action="/Tickets/ZooReservations">
                        <input type="hidden" name="zooName" value="@zoo.ZooName" />
                        <button class="find-animal-button" type="submit">Забронировать</button>
                    </form>
                </div>
            </div>
        }
    }
    else
    {
        <p class="empty-list-note">Пока нет данных о зоопарках.</p>
    }
</div>
