@using WebNet23Online.Models.DelightBistro;

@{
    Layout = "_LayoutimagesDelightBistro";
}
@model CreateFoodItemViewModel

<link rel="stylesheet" href="\css\delight-bistro\style.css" />

<div class="create-food-box">
    <div class="form-title">
        Добавьте блюдо. Заполните все поля в форме
    </div>
    @if (Model.Id > 0)
    {
        <div class="change-food">
            <div class="change-food">
                <img src=@Model.ImgURL alt=@Model.Name />
            </div>
        </div>
    }

    <form method="post">
        <div class="input-box">
            <div>Название блюда</div>
            @Html.TextBoxFor(x => x.Name, new { type = "text", required = "required", placeholder = "Имя блюда" })
        </div>
        <div class="input-box">
            <div>Цена блюда</div>
            @Html.TextBoxFor(x => x.Price, new { type = "number", required = "required", placeholder = "Стоимость" })
        </div>
        <div class="input-radio-box">
            <div class="radio-box-title">
                Выберите тип меню
            </div>
            <div class="radio-box-container">
                <div class="radio-box">
                    @Html.DropDownListFor(x => x.MenuId, Model.Menus, "Выберите меню")

                </div>
                
            </div>
            <div class="input-box">
                <div>
                    Выберите ингредиенты
                </div>
                @foreach (var inredient in Model.Ingredients) 
                 {<div>
                    <input type="checkbox" name="SelectedIngredientsId"
                               value="@inredient.Id" />
                        <label>@inredient.Name</label>
                </div>
                 }
                @* @for (int i = 0; i < Model.Ingredients.Count; i++)
                {
                    <div>
                        <input type="checkbox"
                               id="ingredient_@Model.Ingredients[i].Id"
                               name="Ingredients[@i].IsSelected"
                               value="true"
                        @(Model.Ingredients[i].IsSelected ? "checked" : "") />
                        <label for="ingredient_@Model.Ingredients[i].Id">
                            @Model.Ingredients[i].Name
                        </label>
                        <input type="hidden"
                               name="Ingredients[@i].Id"
                               value="@Model.Ingredients[i].Id" />
                    </div>
                } *@
            </div>
        </div>
        
        <div class="input-box url-box">
            @Html.TextBoxFor(x => x.ImgURL, new { type = "string", placeholder = "Добавьте URL изображения" })
        </div>
        <div class="food-create-button"><button type="submit">Добавить блюдо</button></div>
    </form>

</div>