@using WebNet23Online.Models.DelightBistro;

@{
    Layout = "_LayoutimagesDelightBistro";
}
@model FoodItemViewModel

<link rel="stylesheet" href="\css\delight-bistro\style.css" />

<div class="create-food-box">
    <div class="form-title">
        Добавьте блюдо. Заполните все поля в форме
    </div>
    @if (Model.Id.HasValue == true)
    {
        <div class="change-food">
            <div class="change-food">
                <img src=@Model.ImgURL alt=@Model.Name />
            </div>
        </div>
    }

    <form method="post">
        <div class="input-box">
            <div>Id блюда</div>
            @Html.TextBoxFor(x => x.Id, new { type = "number", required = "required", placeholder = "Id блюда" })
        </div>
        <div class="input-box">
            <div>Название блюда</div>
            @Html.TextBoxFor(x => x.Name, new { type = "text", required = "required", placeholder = "Имя блюда" })
        </div>
        <div class="input-box">
            <div>Цена блюда</div>
            @Html.TextBoxFor(x => x.Price, new { type = "number", required = "required", placeholder = "Стоимость" })
        </div>
        <div class="input-radio-box">
            <div class="radio-box-title">
                Выберите тип меню
            </div>
            <div class="radio-box-container">
                <div class="radio-box">
                    @Html.RadioButtonFor(x => x.MenuType, "soups", new { id = "soups" })
                    @Html.Label("soups", "Супы")
                </div>
                <div class="radio-box">
                    @Html.RadioButtonFor(x => x.MenuType, "hot", new { id = "hot" })
                    @Html.Label("hot", "Горячие блюда")
                </div>
                <div class="radio-box">
                    @Html.RadioButtonFor(x => x.MenuType, "salads", new { id = "salads" })
                    @Html.Label("salads", "Салаты")
                </div>
            </div>
        </div>
        <div>
            <div>Введите ингредиенты через запятую</div>
            <div class="input-box url-box">
                <input type="text"
                       name="Ingredients"
                       value="@(Model.Ingredients != null ? string.Join(",", Model.Ingredients) : "")"
                       placeholder="Ингредиенты через запятую" />
            </div>
        </div>
        <div class="input-box url-box">
            @Html.TextBoxFor(x => x.ImgURL, new { type = "string", placeholder = "Добавьте URL изображения" })
        </div>
        <div class="food-create-button"><button type="submit">Добавить блюдо</button></div>
    </form>

</div>