@using WebNet23Online.Models.DelightBistro;

@{
    Layout = "_LayoutimagesDelightBistro";
}
@model List<MenuTypeViewModel>

<link rel="stylesheet" href="\css\delight-bistro\style.css" />
 
<header class="head-menu">
    <div class="logo-container">
        <div class="logo">
            <img src="/images/delight-bistro/logo.png" alt="logo" />
        </div>
        <div class="logo-name">Logo name</div>
    </div>
    <div class="main-info center">
        <div class="head-menu-item">Info</div>
        <div class="head-menu-item">Head menu</div>
    </div>
</header>

<h1 class="center">Кухня</h1>

<div class="layout">
    <div class="plate">

        @foreach (var category in Model)
        {
            <div class="type-of-food">
                <div class="type-name center">@category.TypeName</div>
                <div class="menu">

                    @foreach (var foodItem in category.FoodItems)
                    {
                        <div class="food-item" item-id="@foodItem.Id">
                            <div class="image-container">
                                <a href="\DelightBistro\FoodBuilder?id=@foodItem.Id"><img src=@foodItem.ImgURL alt=@foodItem.Name /></a>
                                @* <img src=@foodItem.ImgURL alt=@foodItem.Name /> *@
                            </div>
                            <div class="name-price-btn">
                                <div class="name-price">
                                    <div class="food-name">@foodItem.Name</div>
                                    <div class="price">@foodItem.Price р</div>
                                </div>
                                <div class="btnright">
                                    <button class="add-button colorbtn">+</button>
                                </div>
                            </div>
                            <div class="recept">
                                <ul>
                                    @if (foodItem.Ingredients is not null)
                                    {
                                        @foreach (var ingredient in foodItem.Ingredients)
                                        {
                                            <li>@ingredient</li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
        
    <aside class="right-bar">
        <div class="form-field">
            <form method="post">
                <div class="userName">Username</div>
                <input type="text"
                       name="username"
                       placeholder="Введите логин"
                       required />

                <div>Password</div>
                <input type="password"
                       name="userPassword"
                       placeholder="Введите пароль"
                       required />
                <button type="submit">Войти</button>
            </form>
        </div>

        <ul class="navigation">
            <li><a href="\DelightBistro\Index">Все меню</a> </li>
            <li><a href="\DelightBistro\Index?menutype=soups">Супы</a> </li>
            <li> <a href="\DelightBistro\Index?menutype=hot">Горячее</a> </li>
            <li><a href="\DelightBistro\Index?menutype=salads">Салаты</a> </li>
            <li><a href="\DelightBistro\FoodBuilder">Добавить блюдо</a> </li>

        </ul>
    </aside>
</div>

