@using WebNet23Online.Models.AnimeGirl
@model CreateAnimeGirlViewModel
@{
    Layout = "_LayoutAnime";
}

<form method="post">
    <div>
        @Html.TextBoxFor(x => x.Name, new { placeholder = "Name" })
        @Html.ValidationMessageFor(x => x.Name)
    </div>
    <div>
        @Html.TextBoxFor(x => x.DoubleCheckName, new { placeholder = "Name again" })
        @Html.ValidationMessageFor(x => x.DoubleCheckName)
    </div>
    <div>
        @Html.TextBoxFor(x => x.Description, new { placeholder = "Description" })
        @Html.ValidationMessageFor(x => x.Description)
    </div>
    <div>
        @Html.TextBoxFor(x => x.Url, new { placeholder = "Url" })
        @Html.ValidationMessageFor(x => x.Url)
    </div>
    <div>
        @Html.TextBoxFor(x => x.Size, new { placeholder = "Szie", type = "number" })
        @Html.ValidationMessageFor(x => x.Size)
    </div>
    <div>
        @Html.DropDownListFor(x => x.AnimeId, Model.Animes)
    </div>
    <div>
        <button type="submit">Save</button>
    </div>
</form>